@media (max-width: 905px) {


	.header {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.main_list {
		margin: 0;
		width: 500px;
	}

	.li_wrap {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.list_item {
		margin: 0;
	}
}

@media (max-width: 606px) {
	.main {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.main_list {
		width: 400px;
	}

	.content {
		padding-top: 50px;
	}

	.input_wrap {
		margin-bottom: 10px;
	}
}